<h1>Photos!</h1>
<p>
  Add a new Photo
</p>

<%= form_for(@photo) do |f| %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <%= f.submit %>
<% end %>

<% @photos.each do |photo| %>
  <div data-id="<%=photo.id%>">
    <h3><%= photo.title %> <span><%= image_tag "button_close.png" %></span> </h3>
    <%= image_tag(photo.image_url, height: 150) %>
    <p>
      By <%= photo.user_name %>
    </p>
  </div>
<% end %>
